:root {
  --primary: 0, 201, 224;
  --secondary: 65, 234, 212;
  --background: #011627;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Larsseit";
    src: url("./assets/fonts/Larsseit.otf");
    font-display: swap;
  }
  @font-face {
    font-family: "Noe Display";
    src: url("./assets/fonts/Noe-Display-Bold.ttf");
    font-weight: bold;
    font-display: swap;
  }

  button:focus {
    outline: none;
  }
}

@layer components {
  button[class^="btn-"] {
    padding: 1.25rem 3.625rem;
    border-radius: 3rem;
    box-shadow: 5px 15px 40px 0px rgba(var(--primary), 0.2);
  }
  .btn-primary {
    @apply relative w-full h-16 bg-primary text-white font-bold uppercase focus:outline-none font-larsseit;
  }
  .btn-primary::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: 30px;
    height: 2px;
    background-color: white;
    border-radius: 16px;
  }
}
